# OS level
Thumbs.db
.DS_Store
desktop.ini
*.log

# Environment
.env
.env.local
.env.*.local

# Node
node_modules/
.pnp
.pnp.js

# IDE
.idea/
*.swp
*.swo
.vscode/

# OS-specific workspace
.obsidian/workspace.json
